ura{
	font-size: 6; 
	font-weight: bold; 
	font-family: 汉仪文黑-85W,微软雅黑; 
	color: #EE0000;
}

h1{
	font-size: 7; 
	font-weight: bold; 
	font-family: 汉仪文黑-85W,微软雅黑; 
	color: #FFFFFF;
}

h2{
	font-size: 6; 
	font-weight: bold; 
	font-family: 汉仪文黑-85W,微软雅黑; 
	color: #EEEEEE;
	padding-left: 150px; 
	padding-right: 150px
}

h3{
	font-size: 5; 
	font-weight: bold; 
	font-family: 汉仪文黑-85W,微软雅黑; 
	color: #DDDDDD;
	padding-left: 150px; 
	padding-right: 150px
}

div{
	font-size: 3; 
	font-weight: normal; 
	font-family: 汉仪文黑-85W,微软雅黑; 
	color: #E8E8E8; 
	padding-left: 128px; 
	padding-right: 128px
}

lnk{
	font-size: 3; 
	font-weight: normal; 
	font-family: 汉仪文黑-85W,微软雅黑; 
	color: #E8E8E8; 
	padding-left: 128px; 
	padding-right: 128px
}

p{
	font-size: 3; 
	font-weight: normal; 
	font-family: 汉仪文黑-85W,微软雅黑; 
	color: #E8E8E8; 
	padding-left: 128px; 
	padding-right: 128px;
	text-indent: 1cm
}

whatsnew{
	font-size: 4; 
	font-style: italic; 
	font-weight:bold; 
	font-family: Consolas,汉仪文黑-85W,微软雅黑; 
	color: #FFFF00;
	padding-left: 156px; 
	padding-right: 156px
}

foot{
	font-size: 2;
	font-weight: normal; 
	font-family: 新宋体; 
	color: #808080; 
}